# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv/
venv/
.env

*.png
*.pdf
*.code-workspace
# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data / Models
# =========================
*.pth
*.pt
*.ckpt
*.h5
*.npz
*.npy

# =========================
# Logs / Outputs
# =========================
logs/
outputs/
results/
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Temporary
# =========================
*.tmp
*.bak
